<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/filestyle.css' %}"> 
    <title>Files</title>
</head>
<body>
    <div class="navbar">
        <h3>File Server</h3>
        <div class="user-profile">
            <h4 class="username">{{user.email}}</h4>
            <img src="{% static 'images/settings.png' %}" alt="profile photo">
        </div>
    </div>

</body>
</html>