<!DOCTYPE html> 
<html lang="en"> 

<head> 
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> 
    <title>Forgot Password</title> 
</head> 

    <body>
        <div class="main">
            
            <div class="banner">
                <img src="{% static 'images/filesys.png' %}" alt="">
            </div>
            <div class="form">
                <div class="contact-form"> 
                    <div class="welcome">
                        <h1>Retrieve your account</h1> 
                        <p> Forgot your password? No problem!</p>
                    </div>
                    
                    <form action="" method="POST" class="form-container">
                        {% csrf_token %} 
                        
                        
                        <input type="email"
                            id="email"
                            name="email" 
                            placeholder="Your email address" 
                            class="form-container-input"
                            required>
                                    
                        <button type="submit" 
                                class="form-container-button"> 
                            Reset Password 
                        </button>
                        
                    </form> 
                    
                </div> 
                {% if messages %}
                    {% for message in messages %}
                        <p style="text-align: center;">{{message}}</p>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </body> 

</html>