<!DOCTYPE html> 
<html lang="en"> 

<head> 
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
    <title>Signup</title> 
</head> 

    <body>
        <div class="main-signup">
            <div class="responsive-form"> 
                <h1>File Server</h1> 
                <h3> 
                    Good to have you here.
                </h3> 
                <form action="" method="POST" class="form-container">
                    {% csrf_token %}
    
                    <label for="email" 
                        class="form-container-label"> 
                        Email: 
                    </label> 
                    <input type="email"
                        id="email"
                        name="email"
                        value="{{data.email}}" 
                        placeholder="Your email address" 
                        class="form-container-input"
                        required>
                    
                    <label for="password" 
                        class="form-container-label"> 
                        Password: 
                    </label> 
                    <input type="password" 
                        id="password" 
                        name="password" 
                        placeholder="Password" 
                        class="form-container-input"
                        required>
    
                    <label for="confirm_password" 
                        class="form-container-label"> 
                        Confirm Password: 
                    </label> 
                    <input type="password" 
                        id="confirm_password" 
                        name="confirm_password" 
                        placeholder="Confirm Password" 
                        class="form-container-input"
                        required> 
        
                    <button type="submit" 
                            class="form-container-button"> 
                        Save 
                    </button> 
                </form> 
            </div>
            {% if messages %}
                {% for message in messages %}
                    <p style="text-align: center;">{{message}}</p>
                {% endfor %}
            {% endif %} 
        </div>
    </body> 

</html>