<!DOCTYPE html> 
<html lang="en"> 

<head> 
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/style.css"> 
    <title>Login</title> 
</head> 

    <body>
        <div class="responsive-form"> 
            <h1>File Server</h1> 
            <h3> 
                Reset Password
            </h3> 
            <form class="form-container"> 
    
                <label for="password" 
                    class="form-container-label"> 
                    New Password: 
                </label> 
                <input type="password"
                    id="password"
                    name="password" 
                    placeholder="Your new password" 
                    class="form-container-input"
                    required>
                
                <label for="confirm-password" 
                    class="form-container-label"> 
                    Confirm Password: 
                </label> 
                <input type="password"
                    id="confirm-password"
                    name="confirm-password" 
                    placeholder="Confirm password" 
                    class="form-container-input"
                    required>
    
                <button type="submit" 
                        class="form-container-button"> 
                    Change Password 
                </button> 
            </form> 
        </div> 
    </body> 

</html>