<!DOCTYPE html> 
<html lang="en"> 

<head> 
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> 
    <title>Upload file</title> 
</head> 

    <body>
        <div class="main">
            
            <div class="banner">
                <img src="{% static 'images/filesys.png' %}" alt="">
            </div>
            <div class="form">
                <div class="contact-form"> 
                    <div class="welcome">
                        <h1>Upload new file</h1> 
                        <p> Share file with community. </p>
                    </div>
                    
                    <form action= {% url 'upload' %} method="POST" class="form-container">
                        {% csrf_token %} 
                        
                        
                        <input type="text"
                            id="title"
                            name="title" 
                            placeholder="Title of file" 
                            class="form-container-input"
                            required>
                        
                        <input type="text" 
                            id="description" 
                            name="description" 
                            placeholder="description of file" 
                            class="form-container-input"
                            required>

                        <input type="file" name="file" id="file">
                        
            
                        <button type="submit" 
                                class="form-container-button"> 
                            Upload
                        </button>
                        
                    </form> 

                </div> 
                {% if messages %}
                    {% for message in messages %}
                        <p style="text-align: center;">{{message}}</p>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </body> 

</html>