<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/filestyle.css' %}">
</head>
<body>
    <div class="container">
        <div class="aside">
            <h1>File Server Admin</h1>
            <div class="actionables">
                <a href="/reset_password">change password</a>
            </div>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        </div>
        <div class="content">
            <div class="profile">
                
                <p class="email">{{ user.email }}</p>
                <img src="{% static 'images/profile.png' %}" alt="">
            </div>
            <h1>Uploaded files</h1>
            <div class="searchbar">
            
                <form method="post" action="{% url 'files' %}">
                    {% csrf_token %}
                    <input type="text" placeholder="search" name="query" value="{{query}}">
                    <button type="submit">Search</button>
                </form>
            </div>
            {% if files|length > 0%}
                <div class="files">
                    {% for file in files %}
                        <div class="file">
                            <div class="thumbnail">
                                <div class="thumb">
                                    <p>{{file.file_type}}</p>
                                    <p>32.0kb</p>
                                </div>
                            </div>
                            <div class="item">
                                <h3>{{ file.title }}</</h3>
                                <p>{{ file.description }}</p>
                            </div>
                            <div class="action">
                                <p>Emailed: {{file.emailed_count}}</p>
                                <p>Downloaded:{{file.downloads_count}}</p>
                            </div>
                        </div>
                    {% endfor %}
                    
                </div>
            {% else %}
                <p>No files found</p>
            {% endif %}
            <div class="upload">
                <a href="/administration/upload/" class="upload">Upload File</a>
            </div>
            
        </div>
    </div>
</body>
</html>