body { 
    margin: 0; 
    padding: 0; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    height: 100vh;
    width: 100vw; 
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0a0230;
}
h1,h2,h3,h4, p{
    margin: 0;
}

.container{
    display: flex;
    width: 100%;
    height: 100%;
}

.container .aside{
    display: flex;
    flex-direction: column;
    width: calc(20% - 60px);
    color: white;
    height: calc(100% - 100px);
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px 30px;
    gap: 80px;
    left: 0;
}
.container .content{
    background-color: white;
    width: calc(80% - 100px);
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 50px;
    color: #0a0230;
}

.container .aside h1{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

.container .aside a{
    font-size: 20px;
    opacity: 0.7;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    margin-bottom: 80px;
}
.container .aside .actionables{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.container .aside form button{
    height: 50px;
    width: 250px;
    outline: none;
    border: none;
    color: #0a0230;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
}
.content{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.content .profile{
    width: calc(100% - 60px);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 30px;
    gap: 15px;
}
.profile img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.profile p{
    font-size: 24px;
    color: #0a0230;

}
.content .files{
    display: flex;
    flex-direction: column;
    width: calc(90% - 50px);
    align-items: flex-start;
    gap: 15px;
}

.files .file{
    display: flex;
    width: 100%;
    min-height: 60px;
    border-radius: 15px;
    border: 1px solid rgb(233, 233, 238);
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    background-color: white;
}
.files .file .thumbnail{
    height: 100%;
    width: 15%;
    border-right: 2px solid rgb(233, 233, 238);
    display: flex;
    align-items: center;
    justify-content: center;
}
.file .thumbnail .thumb{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.files .file .item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    width: 65%;
    border-right: 2px solid rgb(233, 233, 238);
    padding: 0 20px;
}
.file .item p{
    font-size: 16px;
    font-weight: lighter;
    opacity: 0.7;
    margin-top: 10px;
}

.files .file .action{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    width: 20%;
}

.files .file .action a{
    text-decoration: none;
    width: 100px;
    height: 45px;
    background-color: #23079c;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 10px;

}
#share{
    background-color: red;
}

.searchbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchbar form{
    height: 50px;
    display: flex;

}
.searchbar form input{
    width: 700px;
    height: 35px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid rgb(233, 233, 238);
    outline: none;
    padding: 10px 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.searchbar form button{
    width: 120px;
    background-color: #23079c;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 58px;
    outline: none;
    border: none;
}
input:focus{
    outline: none;
}
.container .content .upload form{
    display: flex;
    flex-direction: column;
}
.container .content .upload {
    background-color: #23079c;
    width: 150px;
    background-color: #23079c;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    height: 50px;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .content .upload a{
    font-weight: bold;
}
a{
    text-decoration: none;
    padding: 10px 15px;
    width: 100%;
}